<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./mystyle.css">
</head>

<body>
  <div class="div-1">
    <div class="div-2">
      <h1>Register</h1>
      <input id="uName" type="text" placeholder="user name">
      <input id="uEmail" type="text" placeholder="email">
      <input id="pWord" type="password" placeholder="password">
      <button id="formButton" class="button-15">ENTER</button>
    </div>
  </div>
</body>

</html>